<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Învățăm Vocalele</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Bine ai venit! Să învățăm vocalele!</h1>

    <div class="button-container">
        <button onclick="window.location.href='/learn-vowels'">Mod de învățare</button>
    </div>

    <!-- Butoane pentru Joacă un joc -->
    <div class="games-container">
        <button onclick="window.location.href='/play-game'">Joacă un joc - Selectează vocala</button>
        <button onclick="window.location.href='/play-matching-game'">Joacă un joc - Asociază cuvântul</button>
        <button onclick="window.location.href='/read-vowel'">Joacă un joc - Citește vocala cu vocea</button>
        <button onclick="window.location.href='/drag-and-drop'">Joacă un joc - Drag & Drop</button>
    </div>
</body>
</html>
